/* adding background picture and some styling to body*/
body{
    width: 90%;
    margin: 0 auto;
    background-image: url(../images/mars-scores.png);
    opacity: 0.9;
    background-repeat: no-repeat;
    height: 800px; 
    background-position: center; 
    background-size: cover;
  }
  /* creating box with h1 text inside and background color*/
  h1{
    text-align: center;
    border: 1px solid rgb(184, 184, 184);
    padding: 25px 0 25px 0;
    background: rgb(36, 35, 35);
    color: white;
    margin-top: 20px;
    margin-bottom: 30px;
    font-family: 'PT Sans Narrow', sans-serif;
  }
/* stiling footer*/
  footer{
  text-align: center;
  border: 1px solid rgb(184, 184, 184);
  background-color: rgb(36, 35, 35);
  height: 80px;  
  width: 90%;
  position: absolute;
  bottom: 0;
  }
/* styling button "home" inside footer and adding hover*/
  button{
    width: 100px;
    height: 30px;
    margin: 25px auto;
    -webkit-transition: 350ms;
    transition: 350ms;
    font-family:'PT Sans Narrow', sans-serif;
  font-size: 18px;
  }
  button:hover{
    background-color: rgb(78, 78, 78);
    color: white;  
  }
/* creating box for "total score"*/
  th{
    border: 1px solid white;
    background-color: rgb(54, 52, 52);
    color: white;
    width: 150px;
    padding: 5px;
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 18px;
    height: 30px;
  } 
  /* adding hover effect for 1st line of score*/
  th:hover{
    background-color: black;
  }
  td{
    border: 1px solid white;
    background-color: rgb(54, 52, 52);
    color: white;
    width: 150px;
    padding: 5px;
    font-family:'PT Sans Narrow', sans-serif;
    font-size: 14px;
    text-align: center;
    height: 30px;
  } 