body{
  width: 90%;
  margin: 0 auto;
  /* background-image: url(images/mars.jpg); 
  background-image: no-repeat; */
}
.top {
  border: 1px solid rgb(184, 184, 184);
  background-color: rgb(36, 35, 35);
  height: 50px;
  margin-top: 20px;
  
}
#background{
  background-image: url(images/mars1.jpg); 
  opacity: 0.9;
  height: 850px;
  margin: 30px auto;
}
 button{
  width: 100px;
  height: 30px;
  margin:  auto;
  -webkit-transition: 350ms;
  transition: 350ms;
  position: relative;
  /* top:2px;
  left: 2px; */
  
}
button:hover{
  background-color: rgb(78, 78, 78);
  color: white;
  
}
footer{
  border: 1px solid rgb(184, 184, 184);
  background-color: rgb(36, 35, 35);
  height: 80px;
  text-align: center;
  color: white;
}