body{
  width: 90%;
  margin: 0 auto;
  background-image: url(images/space.png);
 
  /* background-color: rgb(168, 163, 163); */
}
p{
  font-family: 'PT Sans Narrow', sans-serif;
  color: white;
}
.top {
  border: 1px solid rgb(184, 184, 184);
  background-color: rgb(36, 35, 35);
  height: 50px;
  margin-top: 20px;
  
}
#background{
  background-image: url(images/mars1.jpg); 
  /* opacity: 0.9; */
  height: 850px;
  margin: 30px auto;
}
 button{
  width: 100px;
  height: 50px;
  margin:  auto;
  -webkit-transition: 350ms;
  transition: 350ms;
  position: relative;

  
}
button:hover{
  background-color: rgb(78, 78, 78);
  color: white; 
}


 #imageContainer li {
  display: inline-block;
  margin-top: 100px;
  border:1px solid white;
  width: 20%;
  height: 500px;
  text-align: center;
  margin-left: 9%;
  padding: 5px;
  color:white;
  background-color: black;
  opacity: 0.7;  
}  



#Counter{
  border: 1px solid white;
  width: 20%;
  height: 50px;
  /* float: right;
  margin: 10px; */
  position: absolute;
  top:120px;
  right: 100px;

}

#situation {
  position: absolute;
  top: 120px;
  left: 30px;
  height: 50px;
  color: white;
  border: 1px solid rgb(184, 184, 184);
}

footer{
  border: 1px solid rgb(184, 184, 184);
  background-color: rgb(36, 35, 35);
  height: 80px;
  text-align: center;
  color: white;
  width: 90%;
  position: absolute;
  bottom: 0;
}

  
