body{
  width: 90%;
  margin: 0 auto;
  background-image: url(images/space.png);
}
p{
  font-family: 'Courier New', Courier, monospace;
  color: white;
}
.top {
  border: 1px solid rgb(184, 184, 184);
  background-color: rgb(36, 35, 35);
  height: 50px;
  margin-top: 20px;
  
}
#background{
  background-image: url(images/mars1.jpg); 
  height: 850px;
  /* margin: 30px auto; */
  margin-top: 70px;
  /* margin-bottom:50px; */

}
 button{
  width: 100px;
  height: 50px;
  margin:  auto;
  -webkit-transition: 350ms;
  transition: 350ms;
  position: relative;
  font-family: 'Courier New', Courier, monospace;
  font-size: 18px;
}
button:hover{
  background-color: rgb(78, 78, 78);
  color: white; 
}
.selectionCard{
  position:  relative;
} 
#imageContainer li {
  list-style-type: none;
  display: block; 
  /* position: absolute;*/
  top:233px;
  margin-top: 30px;
  border:1px solid white;
  width: 40%;
  /* height: 500px; */
  text-align: center;
  margin-left: 4%;
  padding: 5px;
  color:white;
  background-color: black;
  opacity: 0.9;  
  font-family: 'Courier New', Courier, monospace;
  font-size: 40px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
 }
   #imageContainer li:hover{
 -webkit-transform: scale(1.1);
        transform: scale(1.1);
}
#responseToCardPick{
  border: 1px solid white;
  width: 700px;
  height: 500px;
  position: absolute;
  right: 130px;
  top: 250px;
  color: white;
  background-color: black;
  opacity: 0.9;
  font-size: 20px;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
  vertical-align: center;  
}

#Counter{
  border: 1px solid white;
  width: 20%;
  height: 50px;
  background-color: rgb(36, 35, 35);
  color: white;
  /* text-align: center;  */
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  vertical-align: center;
}
.situation-wrapper{
  width: 20%;
}
#situation {
  padding: 20px;
  /* margin: 10px; */
  height: 50px;
  position: absolute;
  top: 150px;
  left: 80px;
  /* text-align: center; */
  font-family: 'Courier New', Courier, monospace;
  font-size: 20px;
  color: white;
  border: 1px solid rgb(184, 184, 184);
  overflow: hidden; /* Ensures the content is not revealed until the animation */
  /* border-right: .15em solid orange; The typwriter cursor */
  white-space: nowrap; /* Keeps the content on a single line */
  margin: 1px auto; /* Gives that scrolling effect as the typing happens */
  -webkit-animation: 
    typing 4s steps(40, end),
    blink-caret .75s step-end infinite;;
          animation: 
    typing 4s steps(40, end),
    blink-caret .75s step-end infinite;
}
/* The typing effect */
@-webkit-keyframes typing {
  from { width: 0 }
  to { width: 90% }
}
@keyframes typing {
  from { width: 0 }
  to { width: 90% }
}
/* The typewriter cursor effect */
@-webkit-keyframes blink-caret {
  from, to { border-color: transparent }
  /* 50% { border-color: rgb(253, 253, 253); } */
}
@keyframes blink-caret {
  from, to { border-color: transparent }
  /* 50% { border-color: rgb(253, 253, 253); } */
}

#gameOverElement {
  color: white;
  height: 300px;
  font-size: 20em;
  text-align: center;
}

footer{
  border: 1px solid rgb(184, 184, 184);
  background-color: rgb(36, 35, 35);
  height: 80px;
  text-align: center;
  color: white;
  position: relative;
  bottom: 0;
}


 
