/* adding background picture and size to body*/
body{
  width: 90%;
  margin: 0 auto;
  background-image: url(images/space.png);
}
/* created box for header + slyle for text*/
h1{
  border: 1px solid rgb(184, 184, 184);
  background-color: rgb(36, 35, 35);
  color: white;
  padding: 25px 0 25px 0;
  text-align: center;
  font-family: 'Audiowide', cursive;
  font-size: 40px;
  margin-top: 20px;
  }
/* added img*/
img{
  width: 40%;
  height: 15%;
  margin-left: 30%;
  margin-bottom: 30px;
  margin-top: 48px;
}
/* created box for Instructions elements*/
ol{
  border: 1px solid rgb(247, 247, 247);
}
/* styling text inside Instructions box*/
li{
  font-size: 20px;
  color: white;
  padding: 5px;
  margin: 5px;
  font-family: 'PT Sans Narrow', sans-serif;  
}
/* added osition to "Instruction button"*/
a button{
  margin-left: 42%;
}
 button{
  width: 200px;
  height: 50px;
  -webkit-transition: 350ms;
  transition: 350ms; 
  margin-left: 10%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  font-family:'Audiowide', cursive;
}
button:hover{
  background-color: rgb(78, 78, 78);
  color: white;
} 
/* style links to the "about Us page" and "score"*/
a{
  color: white;
  font-size: 20px;
  display: inline;
  margin-right: 20px;
  margin: 10px;
  padding: 5px;
  position: relative;
  top: 20px;
  -webkit-transition: 550ms;
  transition: 550ms;
  font-family: 'Audiowide', cursive;  
}
a:hover{
  color:rgb(209, 73, 19);
}

/* style input box"user name" + "start button"*/
#Start{
  text-align: center;
  margin: 30px;
  margin-top: 130px;
}
#newPlayer{
  width: 300px;
  height: 40px;
}
#Start > input[type=submit]:nth-child(2){
  width: 200px;
  height: 50px;
  margin: 25px auto;
  -webkit-transition: 350ms;
  transition: 350ms;
  margin-left: 10%;
  font-family: 'PT Sans Narrow', sans-serif;
  font-size: 20px;
  font-family:'Audiowide', cursive;  
}
#Start > input[type=submit]:nth-child(2):hover{
  background-color: rgb(78, 78, 78);
  color: white;  
}
/* added style to footer*/
footer{
  text-align: center;
  border: 1px solid rgb(184, 184, 184);
  background-color: rgb(36, 35, 35);
  height: 80px;  
  width: 90%;
  position: absolute;
  bottom: 0;
}
/* created popup effect for "Instruction button"*/
.overlay {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: rgba(0, 0, 0, 0.7);
  -webkit-transition: opacity 500ms;
  transition: opacity 500ms;
  visibility: hidden;
  opacity: 0;
}
#popup-window {
  position: fixed;
  display: none;
  margin: 0 auto;
  left: 0;
  right: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  width: 90%;
  height: 80%;
  background: #ddd;
  border: 1px solid #aaa;
  -webkit-box-shadow: 0  3px 15px 5px rgba(50,50,50,0.15);
          box-shadow: 0  3px 15px 5px rgba(50,50,50,0.15)          
}
.popup-trigger {
  display: block;
  width: 100px;
  /* text-align: center; */
  background: #aaa;
  margin: 10px auto;
  padding: 20px;
  cursor: pointer;
}
.x-close {
  font-size: 50px;
  line-height: 1;
  float: right;
  margin-right: 12px;
  cursor: pointer;
}
.overlay:target {
  visibility: visible;
  opacity: 1;
}
.popup {
  margin: 70px auto;
  padding: 20px;
  background: black;
  border-radius: 5px;
  width: 50%; 
  position: relative;
  -webkit-transition: all 5s ease-in-out;
  transition: all 5s ease-in-out;
}
.popup h2 {
  margin-top: 0;
  color: #333;
  font-family: Tahoma, Arial, sans-serif;
}
.popup .close {
  position: absolute;
  top: 20px;
  right: 30px;
  -webkit-transition: all 200ms;
  transition: all 200ms;
  font-size: 30px;
  font-weight: bold;
  text-decoration: none;
  color: rgb(19, 158, 19);
}
.popup .close:hover {
  color: red;
}
.popup .content {
  max-height: 30%;
  overflow: auto;
}
@media screen and (max-width: 700px){
.box{
    width: 70%;
  }
  .popup {
    width: 70%;
  }
}

